SUPABASE_URL="https://qbgjcnkgznlyzfwciflu.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFiZ2pjbmtnem5seXpmd2NpZmx1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYzNzYzNTUsImV4cCI6MjA2MTk1MjM1NX0.dY7SuQmq_QrsvlUd18RSY-LYqD_eTtBAUUTSw-rhe2E"
ADMIN_KEY="your_admin_key_here"
NEXT_PUBLIC_SUPABASE_URL="https://qbgjcnkgznlyzfwciflu.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFiZ2pjbmtnem5seXpmd2NpZmx1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYzNzYzNTUsImV4cCI6MjA2MTk1MjM1NX0.dY7SuQmq_QrsvlUd18RSY-LYqD_eTtBAUUTSw-rhe2E"